<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Names</key>
	<array>
		<string>Aleksander</string>
		<string>Filip</string>
		<string>Hubert</string>
		<string>Jakub</string>
		<string>Marek</string>
		<string>Mateusz</string>
		<string>Tomasz</string>
		<string>Sebastian</string>
		<string>Rafał</string>
		<string>Tomasz</string>
		<string>Damian</string>
		<string>Zdzisław</string>
		<string>Norbert</string>
		<string>Czesław</string>
		<string>Ryszard</string>
		<string>Mirosław</string>
		<string>Arkadiusz</string>
		<string>Euzebiusz</string>
		<string>Dariusz</string>
		<string>Donald</string>
		<string>Bronisław</string>
		<string>Jarosław</string>
		<string>Abdon</string>
		<string>Abel</string>
		<string>Abelard</string>
		<string>Abraham</string>
		<string>Achilles</string>
		<string>Ahmed</string>
		<string>Adam</string>
		<string>Adrian</string>
		<string>Albert</string>
		<string>Albin</string>
		<string>Albrecht</string>
		<string>Agaton</string>
		<string>Aleksander</string>
		<string>Aleksy</string>
		<string>Alfons</string>
		<string>Alfred</string>
		<string>Alojzy</string>
		<string>Amadeusz</string>
		<string>Ambroży</string>
		<string>Anastazy</string>
		<string>Anatol</string>
		<string>Andrzej</string>
		<string>Anioł</string>
		<string>Annasz</string>
		<string>Antoni</string>
		<string>Anzelm</string>
		<string>Apollo</string>
		<string>Apoloniusz</string>
		<string>Ariel</string>
		<string>Arkadiusz</string>
		<string>Arkady</string>
		<string>Arnold</string>
		<string>Aron</string>
		<string>Artur</string>
		<string>August</string>
		<string>Augustyn</string>
		<string>Aurelian</string>
		<string>Baldwin</string>
		<string>Baltazar</string>
		<string>Barabasz</string>
		<string>Bartłomiej</string>
		<string>Bartosz</string>
		<string>Bazyli</string>
		<string>Benedykt</string>
		<string>Beniamin</string>
		<string>Benon</string>
		<string>Bernard</string>
		<string>Bert</string>
		<string>Błażej</string>
		<string>Bodosław</string>
		<string>Bogdał</string>
		<string>Bogdan</string>
		<string>Boguchwał</string>
		<string>Bogumił</string>
		<string>Bogusław</string>
		<string>Bogusz</string>
		<string>Bolebor</string>
		<string>Bolesław</string>
		<string>Bonifacy</string>
		<string>Borys</string>
		<string>Bolek</string>
		<string>Bożydar</string>
		<string>Bruno</string>
		<string>Brunon</string>
		<string>Cezary</string>
		<string>Chrystian</string>
		<string>Cyprian</string>
		<string>Cyryl</string>
		<string>Czesław</string>
		<string>Daniel</string>
		<string>Dariusz</string>
		<string>Dawid</string>
		<string>Dionizy</string>
		<string>Dominik</string>
		<string>Dorian</string>
		<string>Edmund</string>
		<string>Edward</string>
		<string>Edwin</string>
		<string>Eliasz</string>
		<string>Eligiusz</string>
		<string>Emanuel</string>
		<string>Emil</string>
		<string>Erazm</string>
		<string>Ernest</string>
		<string>Erwin</string>
		<string>Eugeniusz</string>
		<string>Ewald</string>
		<string>Ezechiel</string>
		<string>Fabian</string>
		<string>Felicjan</string>
		<string>Feliks</string>
		<string>Ferdynand</string>
		<string>Filip</string>
		<string>Florian</string>
		<string>Franciszek</string>
		<string>Fryc</string>
		<string>Fryderyk</string>
		<string>Gabriel</string>
		<string>Gaweł</string>
		<string>Gerard</string>
		<string>Gerwazy</string>
		<string>Gilbert</string>
		<string>Godfryd</string>
		<string>Gracjan</string>
		<string>Grzegorz</string>
		<string>Gustaw</string>
		<string>Hadrian</string>
		<string>Hamza</string>
		<string>Hasan</string>
		<string>Hektor</string>
		<string>Henryk</string>
		<string>Herakles</string>
		<string>Herbert</string>
		<string>Herman</string>
		<string>Hermes</string>
		<string>Hiacynt</string>
		<string>Hieronim</string>
		<string>Hilary</string>
		<string>Hipolit</string>
		<string>Honorat</string>
		<string>Horacy</string>
		<string>Hubert</string>
		<string>Hugo</string>
		<string>Idzi</string>
		<string>Ignacy</string>
		<string>Igor</string>
		<string>Ildefons</string>
		<string>Ireneusz</string>
		<string>Iwan</string>
		<string>Iwo</string>
		<string>Izajasz</string>
		<string>Izydor</string>
		<string>Jacek</string>
		<string>Jakub</string>
		<string>Jan</string>
		<string>January</string>
		<string>Janusz</string>
		<string>Jaromir</string>
		<string>Jarosław</string>
		<string>Jeremiasz</string>
		<string>Jerzy</string>
		<string>Jędrzej</string>
		<string>Joachim</string>
		<string>Jonasz</string>
		<string>Jonatan</string>
		<string>Józef</string>
		<string>Julian</string>
		<string>Juliusz</string>
		<string>Jur</string>
		<string>Justynian</string>
		<string>Kacper</string>
		<string>Kajetan</string>
		<string>Kamil</string>
		<string>Karol</string>
		<string>Kasper</string>
		<string>Kastor</string>
		<string>Kazimierz</string>
		<string>Kilian</string>
		<string>Klaudiusz</string>
		<string>Klemens</string>
		<string>Konrad</string>
		<string>Konstanty</string>
		<string>Konstantyn</string>
		<string>Kordian</string>
		<string>Kornel</string>
		<string>Korneliusz</string>
		<string>Kosma</string>
		<string>Krystian</string>
		<string>Krzysztof</string>
		<string>Ksawery</string>
		<string>Kwiatosław</string>
		<string>Kwietosław</string>
		<string>Lambert</string>
		<string>Lech</string>
		<string>Leo</string>
		<string>Leon</string>
		<string>Leokadiusz</string>
		<string>Leonard</string>
		<string>Leopold</string>
		<string>Lesław</string>
		<string>Leszek</string>
		<string>Lew</string>
		<string>Longin</string>
		<string>Lucjan</string>
		<string>Ludwik</string>
		<string>Ładysław</string>
		<string>Łazarz</string>
		<string>Łucjan</string>
		<string>Łukasz</string>
		<string>Maciej</string>
		<string>Magnus</string>
		<string>Mahdi</string>
		<string>Makary</string>
		<string>Maksymilian</string>
		<string>Manfred</string>
		<string>Manuel</string>
		<string>Marceli</string>
		<string>Marcin</string>
		<string>Marek</string>
		<string>Marian</string>
		<string>Mariusz</string>
		<string>Mateusz</string>
		<string>Maurycy</string>
		<string>Medard</string>
		<string>Melchior</string>
		<string>Metody</string>
		<string>Michał</string>
		<string>Mieszko</string>
		<string>Mieczysław</string>
		<string>Mikołaj</string>
		<string>Milan</string>
		<string>Miłosław</string>
		<string>Miłosz</string>
		<string>Miron</string>
		<string>Mirosław</string>
		<string>Modest</string>
		<string>Mojmir</string>
		<string>Mojżesz</string>
		<string>Murat</string>
		<string>Mustafa</string>
		<string>Napoleon</string>
		<string>Narcyz</string>
		<string>Natanael</string>
		<string>Nestor</string>
		<string>Nikodem</string>
		<string>Norbert</string>
		<string>Norman</string>
		<string>Oktawian</string>
		<string>Oktawiusz</string>
		<string>Olaf</string>
		<string>Oleg</string>
		<string>Olgierd</string>
		<string>Omar</string>
		<string>Onufry</string>
		<string>Oskar</string>
		<string>Oswald</string>
		<string>Otto</string>
		<string>Pankracy</string>
		<string>Patryk</string>
		<string>Paweł</string>
		<string>Pelagiusz</string>
		<string>Piotr</string>
		<string>Polikarp</string>
		<string>Prokop</string>
		<string>Protazy</string>
		<string>Przemysław</string>
		<string>Radomił</string>
		<string>Radosław</string>
		<string>Radzimir</string>
		<string>Rafał</string>
		<string>Rajmund</string>
		<string>Remigiusz</string>
		<string>Robert</string>
		<string>Roch</string>
		<string>Roger</string>
		<string>Roland</string>
		<string>Rudolf</string>
		<string>Rufus</string>
		<string>Ryszard</string>
		<string>Salomon</string>
		<string>Samson</string>
		<string>Samuel</string>
		<string>Sergiusz</string>
		<string>Seweryn</string>
		<string>Stanisław</string>
		<string>Starwit</string>
		<string>Stefan</string>
		<string>Sykstus</string>
		<string>Sylwester</string>
		<string>Sylwiusz</string>
		<string>Symeon</string>
		<string>Syriusz</string>
		<string>Szczepan</string>
		<string>Szymon</string>
		<string>Świętopełk</string>
		<string>Tadeusz</string>
		<string>Telesfor</string>
		<string>Telimena</string>
		<string>Teodor</string>
		<string>Teofil</string>
		<string>Tobiasz</string>
		<string>Tomasz</string>
		<string>Tristan</string>
		<string>Tymon</string>
		<string>Tymoteusz</string>
		<string>Tytus</string>
		<string>Urban</string>
		<string>Wacław</string>
		<string>Wahid</string>
		<string>Waldemar</string>
		<string>Walenty</string>
		<string>Walerian</string>
		<string>Walery</string>
		<string>Walter</string>
		<string>Wawrzyniec</string>
		<string>Wendelin</string>
		<string>Wiesław</string>
		<string>Wiktor</string>
		<string>Wilhelm</string>
		<string>Wincenty</string>
		<string>Wirgiliusz</string>
		<string>Wit</string>
		<string>Witold</string>
		<string>Władysław</string>
		<string>Włodzimierz</string>
		<string>Włodzisław</string>
		<string>Wojciech</string>
		<string>Wojsław</string>
		<string>Zachariasz</string>
		<string>Zbigniew</string>
		<string>Zdzisław</string>
		<string>Zenobiusz</string>
		<string>Zefir</string>
		<string>Zefiryn</string>
		<string>Zenon</string>
		<string>Ziemowit</string>
		<string>Zygfryd</string>
		<string>Zygmunt</string>
	
	</array>
	<key>Surnames</key>
	<array>
		<string>Komorowski</string>
		<string>Kowalski</string>
		<string>Nowak</string>
		<string>Owsiak</string>
		<string>Sikorski</string>
		<string>Tusk</string>
	</array>
</dict>
</plist>
