<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Names</key>
	<array>
		<string>Aleksander</string>
		<string>Filip</string>
		<string>Hubert</string>
		<string>Jakub</string>
		<string>Marek</string>
		<string>Mateusz</string>
		<string>Tomasz</string>
		<string>Łukasz</string>
		<string>Kamil</string>
		<string>Mikołaj</string>
		<string>Piotrek</string>
		<string>Adrian</string>
		<string>Damian</string>
		<string>Dawid</string>
		<string>Daniel</string>
		<string>Krzysztof</string>
		<string>Janusz</string>
		<string>Bartosz</string>
		<string>Wojciech</string>
		<string>Dominik</string>
		<string>Michał</string>
	</array>
	<key>Surnames</key>
	<array>
		<string>Komorowski</string>
		<string>Kowalski</string>
		<string>Nowak</string>
		<string>Owsiak</string>
		<string>Sikorski</string>
		<string>Tusk</string>
		<string>Gruszka</string>
		<string>Pietruszka</string>
		<string>Figwer</string>
		<string>Przydatek</string>
		<string>Burnetko</string>
		<string>Maj</string>
		<string>Mak</string>
		<string>Czerwiec</string>
		<string>Ambrochowicz</string>
		<string>Chodnik</string>
		<string>Kafel</string>
		<string>Grom</string>
		<string>Czołg</string>
		<string>Granat</string>
		<string>Gwiazda</string>
		<string>Księżyc</string>
		<string>Ksiądz</string>
		<string>Biskup</string>
		<string>Karmnik</string>
		<string>Jamnik</string>
		<string>Rączka</string>
		<string>Zając</string>
		<string>Królik</string>
		<string>Pawlicki</string>
		<string>Norek</string>
		<string>Korek</string>
		<string>Por</string>
		<string>Masłowski</string>
		<string>Boruc</string>
		<string>Szczęsny</string>
		<string>Nieszczęsny</string>
		<string>Kuszczak</string>
		<string>Fabiański</string>
		<string>Tytoń</string>
		<string>Wawrzyniak</string>
		<string>Glik</string>
		<string>Szukała</string>
		<string>Prawy</string>
		<string>Lewy</string>
		<string>Lewandowski</string>
		<string>Buk</string>
		<string>Klimek</string>
		<string>Kuraś</string>
		<string>Grabski</string>
		<string>Krowa</string>
		<string>Wariat</string>
		<string>Fuks</string>
		<string>Brzoskieniewicz</string>
		<string>Knapik</string>
		<string>Niemiec</string>
		<string>Harisimowicz</string>
		<string>Koźmiński</string>
		<string>Woźniak</string>
		<string>Sekuła</string>
		<string>Garguła</string>
		<string>Stawiarski</string>
		<string>Ujek</string>
		<string>Stoch</string>
		<string>Hula</string>
		<string>Żyła</string>
		<string>Szczepański</string>
		<string>Wielki</string>
		<string>Mały</string>
		<string>Hutnik</string>
	</array>
</dict>
</plist>
