<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GK</key>
	<array>
		<dict>
			<key>RE</key>
			<string>25-35</string>
			<key>GP</key>
			<string>25-35</string>
			<key>IN</key>
			<string>25-35</string>
			<key>CT</key>
			<string>25-35</string>
			<key>OR</key>
			<string>25-35</string>
		</dict>
		<dict>
			<key>RE</key>
			<string>30-40</string>
			<key>GP</key>
			<string>30-40</string>
			<key>IN</key>
			<string>30-40</string>
			<key>CT</key>
			<string>30-40</string>
			<key>OR</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>RE</key>
			<string>40-45</string>
			<key>GP</key>
			<string>35-45</string>
			<key>IN</key>
			<string>35-45</string>
			<key>CT</key>
			<string>35-45</string>
			<key>OR</key>
			<string>35-45</string>
		</dict>
		<dict>
			<key>RE</key>
			<string>45-55</string>
			<key>GP</key>
			<string>40-50</string>
			<key>IN</key>
			<string>40-50</string>
			<key>CT</key>
			<string>40-50</string>
			<key>OR</key>
			<string>40-50</string>
		</dict>
		<dict>
			<key>RE</key>
			<string>50-60</string>
			<key>GP</key>
			<string>45-55</string>
			<key>IN</key>
			<string>45-50</string>
			<key>CT</key>
			<string>45-50</string>
			<key>OR</key>
			<string>45-50</string>
		</dict>
		<dict>
			<key>RE</key>
			<string>55-65</string>
			<key>GP</key>
			<string>50-60</string>
			<key>IN</key>
			<string>50-60</string>
			<key>CT</key>
			<string>50-60</string>
			<key>OR</key>
			<string>50-60</string>
		</dict>
	</array>
	<key>CB</key>
	<array>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
	</array>
	<key>SB</key>
	<array>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
	</array>
	<key>OSB</key>
	<array>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
	</array>
	<key>DM</key>
	<array>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
	</array>
	<key>OM</key>
	<array>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
	</array>
	<key>FW</key>
	<array>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
		<dict>
			<key>SC</key>
			<string>20-30</string>
			<key>OP</key>
			<string>20-30</string>
			<key>BC</key>
			<string>20-30</string>
			<key>PA</key>
			<string>20-30</string>
			<key>AE</key>
			<string>30-40</string>
			<key>CO</key>
			<string>20-40</string>
			<key>TA</key>
			<string>30-40</string>
			<key>DP</key>
			<string>30-40</string>
		</dict>
	</array>
</dict>
</plist>
